<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../static/img/t-time.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
</style>
</head>
<script>
setTimeout(function(){window.location.href = "/"},1000);
</script>
<body>

<div class="bg"></div>
</body>
</html>

